body {

    font-family: 'Manrope', sans-serif;
    color: #45050C;
    background-color: #EEF9EF;

}

.jumbotron {

    background-color: #AFE4B4;

}

.card-header {

    background-color: #F1948A;

}